<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.diogenesjunior.kiwify"
        version   = "1.0.0">

    <name>Kiwify</name>
    <description>
        Notificações Personalizadas para o que precisar
    </description>
    <author href="https://www.diogenesjunior.com.br/" email="contato@diogenesjunior.com.br">Diogenes Junior</author>
    
    <engine name="android" spec="^8.0.0" />

    <preference name="android-build-tool"         value="gradle" />
    <preference name="orientation"                value="portrait" />     
    <preference name="target-device"              value="handset" />        
    <preference name="fullscreen"                 value="false" />          
    <preference name="webviewbounce"              value="true" />         
    <preference name="prerendered-icon"           value="true" />         
    <preference name="stay-in-webview"            value="false" />       
    <preference name="ios-statusbarstyle"         value="black-opaque" />  
    <preference name="detect-data-types"          value="true" />  
    <preference name="exit-on-suspend"            value="false" />          
    <preference name="disable-cursor"             value="false" />         
    <preference name="android-installLocation"    value="auto" />     
    <preference name="StatusBarBackgroundColor"   value="#f5db36" />
    <preference name="android-minSdkVersion"      value="25" />
    <preference name="android-targetSdkVersion"   value="30" />
    <preference name="AndroidXEnabled"            value="true" />

    
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/assets/images/icones/1024x1024.png" />
    <resource-file src="colors.xml" target="app/src/main/res/values/colors.xml" />
    <!--
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
        <activity android:exported="true"/>
        <application android:exported="true" />
    </edit-config>
    
    <edit-config  file="app/src/main/AndroidManifest.xml" mode="merge" android:exported="true" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <intent-filter>
                <action  android:name="MainActivity" android:exported="true"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </edit-config>
-->
    <plugin name="cordova-plugin-androidx" />
    <plugin name="cordova-plugin-androidx-adapter" />
    <plugin name="cordova-plugin-local-notification" />    

    
   
    <plugin name="cordova-plugin-android-permissions" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-ionic-webview" />

    <preference name="WKWebViewOnly" value="true" />
    <feature name="CDVWKWebViewEngine">
       <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="Scheme" value="https" />
    <preference name="ScrollEnabled" value="true" />

        
    <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/assets/images/icones/36.png"  density="ldpi" width="36" height="36" />
        <icon src="www/assets/images/icones/40.png"  density="ldpi" width="40" height="40" />
        <icon src="www/assets/images/icones/57.png"  density="mdpi" width="57" height="57" />
        <icon src="www/assets/images/icones/64.png"  density="mdpi" width="64" height="64" />
        <icon src="www/assets/images/icones/72.png"  density="hdpi" width="72" height="72" />
        <icon src="www/assets/images/icones/114.png" density="xhdpi" width="114" height="114" />
        <icon src="www/assets/images/icones/120.png" density="xhdpi" width="120" height="120" />
        <icon src="www/assets/images/icones/144.png" density="xxhdpi" width="144" height="144" />
        <icon src="www/assets/images/icones/152.png" density="xxhdpi" width="152" height="152" />
        <icon src="www/assets/images/icones/173.png" density="xxhdpi" width="173" height="173" />
        <icon src="www/assets/images/icones/96.png"  density="xhdpi" width="96" height="96" />
        <icon src="www/assets/images/icones/180.png" density="xxhdpi" width="180" height="180" />
        <icon src="www/assets/images/icones/192.png" density="xxxhdpi" width="192" height="192" />
        <icon src="www/assets/images/icones/225.png" density="xxxhdpi" width="225" height="225" />
        <icon src="www/assets/images/icones/320.png" density="xxxhdpi" width="320" height="320" />
        <icon src="www/assets/images/icones/512.png" density="xxxhdpi" width="512" height="512" />
        <icon src="www/assets/images/icones/768.png" density="xxxhdpi" width="768" height="768" />
        <icon src="www/assets/images/icones/960.png" density="xxxhdpi" width="960" height="960" />
        <icon src="www/assets/images/icones/1024.png" density="xxxhdpi"  width="1024" height="1024" />

        <resource-file src="www/res/android/1fgwx398.jpg" target="app/src/main/res/drawable/notif1fgwx398.jpg" />
        <resource-file src="www/res/android/3938074.png" target="app/src/main/res/drawable/notif3938074.png" />
        <resource-file src="www/res/android/braip.png" target="app/src/main/res/drawable/notifbraip.png" />
        <resource-file src="www/res/android/c1123fdd8714f1b5c690ed52fa8412e7.png" target="app/src/main/res/drawable/notifc1123fdd8714f1b5c690ed52fa8412e7.png" />
        <resource-file src="www/res/android/eduzz.png" target="app/src/main/res/drawable/notifeduzz.png" />
        <resource-file src="www/res/android/logo-nubank-roxo-icon-4096.png" target="app/src/main/res/drawable/notiflogonubankroxoicon4096.png" />
        <resource-file src="www/res/android/monetizze.png" target="app/src/main/res/drawable/notifmonetizze.png" />
        <resource-file src="www/res/android/simbolo.png" target="app/src/main/res/drawable/notifsimbolo.png" />
        <resource-file src="www/res/android/uber_icon_130805.png" target="app/src/main/res/drawable/notifubericon130805.png" />
        <resource-file src="www/res/android/unnamed (1).png" target="app/src/main/res/drawable/notifunnamed.png" />
        <resource-file src="www/res/android/unnamed.png" target="app/src/main/res/drawable/notifunnamed2.png" />
        <resource-file src="www/res/android/WhatsApp-icone-3.png" target="app/src/main/res/drawable/notifwhatsappicone3.png" />

        <resource-file src="www/res/android/doppus.jpg" target="app/src/main/res/drawable/doppus.jpg" />
        <resource-file src="www/res/android/herospark.png" target="app/src/main/res/drawable/herospark.png" />
        <resource-file src="www/res/android/evermart.jpeg" target="app/src/main/res/drawable/evermart.jpeg" />
        <resource-file src="www/res/android/perfectpay.jpeg" target="app/src/main/res/drawable/perfectpay.jpeg" />
        <resource-file src="www/res/android/kirvano.png" target="app/src/main/res/drawable/kirvano.png" />
        <resource-file src="www/res/android/pepper.png" target="app/src/main/res/drawable/pepper.png" />
        <resource-file src="www/res/android/youtube.png" target="app/src/main/res/drawable/youtube.png" />
        <resource-file src="www/res/android/facebook.png" target="app/src/main/res/drawable/facebook.png" />
        <resource-file src="www/res/android/instagram.png" target="app/src/main/res/drawable/instagram.png" />
        <resource-file src="www/res/android/tiktok.png" target="app/src/main/res/drawable/tiktok.png" />
        <resource-file src="www/res/android/kwai.png" target="app/src/main/res/drawable/kwai.png" />
        <resource-file src="www/res/android/pinterest.png" target="app/src/main/res/drawable/pinterest.png" />
        <resource-file src="www/res/android/xvideos.jpg" target="app/src/main/res/drawable/xvideos.jpg" />
        <resource-file src="www/res/android/netflix.png" target="app/src/main/res/drawable/netflix.png" />
        <resource-file src="www/res/android/google.png" target="app/src/main/res/drawable/google.png" />
        <resource-file src="www/res/android/mercadopago.png" target="app/src/main/res/drawable/mercadopago.png" />
        <resource-file src="www/res/android/bradesco.png" target="app/src/main/res/drawable/bradesco.png" />
        <resource-file src="www/res/android/bancodobrasil.png" target="app/src/main/res/drawable/bancodobrasil.png" />
        <resource-file src="www/res/android/caixa.png" target="app/src/main/res/drawable/caixa.png" />
        <resource-file src="www/res/android/next.jpeg" target="app/src/main/res/drawable/next.jpeg" />
        <resource-file src="www/res/android/c6.png" target="app/src/main/res/drawable/c6.png" />
        <resource-file src="www/res/android/inter.png" target="app/src/main/res/drawable/inter.png" />
        <resource-file src="www/res/android/picpay.png" target="app/src/main/res/drawable/picpay.png" />
        <resource-file src="www/res/android/mercadolivre.png" target="app/src/main/res/drawable/mercadolivre.png" />
        <resource-file src="www/res/android/shopee.png" target="app/src/main/res/drawable/shopee.png" />
        <resource-file src="www/res/android/amazon.png" target="app/src/main/res/drawable/amazon.png" />
        <resource-file src="www/res/android/casasbahia.png" target="app/src/main/res/drawable/casasbahia.png" />
        <resource-file src="www/res/android/submarino.png" target="app/src/main/res/drawable/submarino.png" />
        <resource-file src="www/res/android/extra.png" target="app/src/main/res/drawable/extra.png" />
        <resource-file src="www/res/android/shein.png" target="app/src/main/res/drawable/shein.png" />
        <resource-file src="www/res/android/sp.png" target="app/src/main/res/drawable/sp.png" />
        <resource-file src="www/res/android/bet.png" target="app/src/main/res/drawable/bet.png" />
        <resource-file src="www/res/android/dezbet.png" target="app/src/main/res/drawable/dezbet.png" />
        <resource-file src="www/res/android/blaze.png" target="app/src/main/res/drawable/blaze.png" />
        <resource-file src="www/res/android/fortunetiger.png" target="app/src/main/res/drawable/fortunetiger.png" />

    </platform>
    
    <plugin name="cordova-plugin-whitelist" version="1.3.4" />

    <access origin="*"/>
    <allow-navigation href="*" />
    <allow-intent href="*" /> 
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

</widget>