<div class="card rounded-0" data-card-height="150">
    <div class="card-top">
        <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i class="fa fa-times color-white"></i></a>
    </div>
    <div class="card-bottom">
        <h1 class="color-white ps-3 mb-n1 font-28">
            <img src="images/logo-pefisa.png" alt="Pefisa" style="width: 100px;">
        </h1>
        <p class="mb-2 ps-3 font-12 color-white opacity-50">Aqui uma tagline sobre a marca</p>
    </div>
    
</div>
<div class="mt-4"></div>
<h6 class="menu-divider">Mais</h6>
<div class="list-group list-custom-small list-menu">
   
    <a href="#">
        <span>Extrato</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="#">
        <span>Conta e Pagamento</span>
        <i class="fa fa-angle-right"></i>
    </a>
    <a href="#">
        <span>Suporte</span>
        <i class="fa fa-angle-right"></i>
    </a>
   
   
</div>
<h6 class="menu-divider mt-4">Configurações</h6>
<div class="list-group list-custom-small list-menu">
   
    <a href="index.html">
        <span>Sair</span>
        <i class="fa fa-angle-right"></i>
    </a>
</div>
